:root {
  --white1: #f9fafb;
  --black1: #1e2939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Artistic Font */
.dancing-script-light {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  color: var(--black1);
  font-family: 'Roboto', sans-serif;
}

.headerWrapper,
.mainWrapper,
.footerWrapper {
  display: flex;
  justify-content: center;
}

.headerWrapper,
.footerWrapper {
  flex-shrink: 0;
  min-height: 65px;
}

.mainWrapper {
  flex: 1;

  background-color: var(--white1);
}

.headerWrapper,
.mainWrapper,
.footerWrapper {
  min-width: 550px;
}

header {
  width: 1350px;

  padding: 10px 25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;

  /* background-color: red; */
}

main {
  width: 1350px;
  padding: 0px 25px;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  flex-direction: column;

  row-gap: 20px;

  /* background-color: blue; */
}

footer {
  width: 1350px;
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /* background-color: chartreuse; */
}

.menu {
  width: 80%;
  min-width: 500px;
  max-width: 800px;
  min-height: 100px;
  border: 1px solid black;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 10px;
}

.menu > * > * {
  cursor: pointer;
}

.topMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.topMenu label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 15px;
  font-weight: bold;
}

#pencilColorPicker {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

#backgroundColorPicker {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

#circlePencilColor {
  background-color: #000000;
  border: 1px solid black;
}

#circleBackColor {
  background-color: #ffffff;
  border: 1px solid black;
}

.bottomMenu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu button {
  padding: 10px 0px;
  width: 100px;
  border: 1px solid black;
}

.menu button:hover {
  background-color: #ffffff;
}

#fillButton {
  padding: 10px 0px;
  width: 130px;
}

.rotatingBorder {
  border: 0 !important;
  background-image: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
}

/*
Source - https://stackoverflow.com/a/15935838
Posted by gilly3, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-15, License - CC BY-SA 4.0
*/

.sliderWrapper {
  position: absolute;
  left: -100px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=range][orient=vertical] {
  flex: 1;

  writing-mode: vertical-lr;
  direction: rtl;
}

.sketchContainer {
  box-sizing: content-box;

  width: 50%;
  min-width: 300px;
  max-width: 600px;
  aspect-ratio: 1/1;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  border: 2px solid black;
}

.sketchContainer div {
  box-sizing: border-box;
}
